<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  Comment by <%= comment.user.email %>
</p>

<p>
  <%= link_to 'Edit Comment', edit_post_comment_path(comment.post, comment) %>
</p>

<p>
  <%= button_to "Delete Comment", [comment.post, comment], method: :delete %>
</p>